# Clean UFO Sightings CSV

## Load the CSV file
### Edris Code Starts here

In [1]:
# Import any needed functionalityU
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Set file path
UFO_Sighting_path=("UFO_Data/UFO_Sightings.csv")

# Read the csv file
ufo_sighting_data = pd.read_csv(UFO_Sighting_path)

In [13]:
# Display the csv file as a dataframe
ufo_sighting_df = pd.DataFrame(ufo_sighting_data)
ufo_sighting_df.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

### Edris Code Ends here

## Clean CSV
### Yonis Code Starts here

In [17]:
# Narrow down data to focus of df
ufo_sighting_df.count()

datetime                80332
city                    80332
state                   74535
country                 70662
shape                   78400
duration (seconds)      80332
duration (hours/min)    80332
comments                80317
date posted             80332
latitude                80332
longitude               80332
dtype: int64

In [31]:
dropped_ufo = ufo_sighting_df.dropna()
dropped_ufo.count()

datetime                66516
city                    66516
state                   66516
country                 66516
shape                   66516
duration (seconds)      66516
duration (hours/min)    66516
comments                66516
date posted             66516
latitude                66516
longitude               66516
dtype: int64

In [32]:
#drop colums
clean_ufo_sighting_df= dropped_ufo.drop(["duration (seconds)", "duration (hours/min)", "date posted"], axis=1)
clean_ufo_sighting_df.head()

,datetime,city,state,country,shape,comments,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,This event took place in early fall around 194...,29.8830556,-97.941111
3,10/10/1956 21:00,edna,tx,us,circle,My older brother and twin sister were leaving ...,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,My father is now 89 my brother 52 the girl wit...,36.5950000,-82.188889
7,10/10/1965 23:45,norwalk,ct,us,disk,A bright orange color changing to reddish colo...,41.1175000,-73.408333

In [37]:
#spite data and time into columns
clean_ufo_sighting_df[["date",'time']] = clean_ufo_sighting_df.datetime.str.split(" ",expand=True)

#drop the old "datetime"
new_ufo_df = clean_ufo_sighting_df.drop(['datetime'], axis=1)
new_ufo_df.head()

,city,state,country,shape,comments,latitude,longitude,date,time
0,san marcos,tx,us,cylinder,This event took place in early fall around 194...,29.8830556,-97.941111,10/10/1949,20:30
3,edna,tx,us,circle,My older brother and twin sister were leaving ...,28.9783333,-96.645833,10/10/1956,21:00
4,kaneohe,hi,us,light,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.4180556,-157.803611,10/10/1960,20:00
5,bristol,tn,us,sphere,My father is now 89 my brother 52 the girl wit...,36.5950000,-82.188889,10/10/1961,19:00
7,norwalk,ct,us,disk,A bright orange color changing to reddish colo...,41.1175000,-73.408333,10/10/1965,23:45

In [39]:
#check the data for only us sightings 
new_ufo_df['country'].unique()

array(['us', 'ca', 'au', 'gb'], dtype=object)

In [44]:
us_ufo_df = new_ufo_df.loc[new_ufo_df['country'] == 'us']
us_ufo_df['country'].unique()

array(['us'], dtype=object)

In [47]:
us_ufo_df.head()

,city,state,country,shape,comments,latitude,longitude,date,time
0,san marcos,tx,us,cylinder,This event took place in early fall around 194...,29.8830556,-97.941111,10/10/1949,20:30
3,edna,tx,us,circle,My older brother and twin sister were leaving ...,28.9783333,-96.645833,10/10/1956,21:00
4,kaneohe,hi,us,light,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.4180556,-157.803611,10/10/1960,20:00
5,bristol,tn,us,sphere,My father is now 89 my brother 52 the girl wit...,36.5950000,-82.188889,10/10/1961,19:00
7,norwalk,ct,us,disk,A bright orange color changing to reddish colo...,41.1175000,-73.408333,10/10/1965,23:45

In [48]:
# Output the cleaned df to "UFO_Data" folder
us_ufo_df.to_csv("UFO_Data/US_UFO_Sightings.csv")

### Yonis Code Ends here